In [19]:
import pandas as pd

In [20]:
df=pd.read_csv('OlympicAthletes.csv')

### Top 5 countries with medals

In [21]:
g=df.groupby('Country')['Total'].sum()
g.sort_values(ascending=False).head(5)

Country
United States    1312
Russia            768
Germany           629
Australia         609
China             530
Name: Total, dtype: int64